*{
    box-sizing: border-box;
    text-align: center;
}
#box {
    margin: 10%;
    width: 80%;
    height: 200px;
    border: 1px black solid;
}
#player {
    position: relative;
    height: 50px;
    width: 40px;
    top: 100px;
    background-color: black;
}
.jump {
    animation: jump 0.6s 1 linear;
}
.obstruct {
    animation: slidein 3s infinite linear;
}
.jump_crouched {
    animation: jump_crouched 0.6s 1 linear;
}
#obstacle {
    position: relative;
    height: 40px;
    width: 20px;
    top: 160px;
    left: 100%;
    background-color: black;
}
#fly {
    position: relative;
    height: 10px;
    width: 20px;
    top: 90px;
    left: 100%;
    background-color: black;
}
@keyframes jump {
    0% {
        top: 100px
    }
    50% {
        top: 25px;
    }
    100% {
        top: 100px;
    }
}
@keyframes slidein {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes jump_crouched {
    0% {
        top: 125px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 125px;
    }
}